<div class="main-content">
  <div class="container-fluid">
      <div class="card">
          <div class="card-header card-header-danger">
              <h4 class="card-title">Servis</h4>
              <p class="card-category">Uygulanan İşlemler</p>
          </div>
          <div class="card-body">
              <div class="col-lg-12 col-md-12">
                  <div class="card">

                      <div class="card-header card-header-warning"> <button class="btn btn-fill btn-success"
                              style="float: right" id="ekle" > Ekle</button>
                          <h4 class="card-title">Denneme Sayfası</h4>
                          <input placeholder="Arama Bilgisi" id="filterText" [>
                          <p class="card-category"> </p>
                         

                      </div>